#mainContainer {
    margin-bottom: 50px;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

h2, h3 {
	color: #003A70;
}

p b {
	color: #FDB515;
}

span {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.crop img {
	position: absolute;
	left: -55px;
	clip: rect(50px 630px 270px 40px);
}

.photo1 img {
	margin: -45px 30px;
	clip: rect(60px 630px 270px 40px);
}

.photo2 img {
	margin: -35px 30px;
	clip: rect(50px 630px 270px 40px);
}
