.verticalLine {
    border-left: thick solid #000000;
    margin-left: 100px;
    position: relative;
}

.popup {
    padding: 0px 0px 30px 50px;
    font-size: 3;
}

/*give some room between "THE ASSOCIATION" header and text*/
#association-header {
	margin-bottom: 40px;
    text-align: center;
}

/*give some room between the two columns*/
#left-column {
	margin-right: 30px;
}

/*make cursor a hand when hover over keyword, remove default hyperlink underline */
a:hover 
{
     text-decoration: none; 
     cursor: pointer;  
}

.keyword {
    color: #fdb515;
    font-weight: bold;
}
