.splash-bg {
    background-image: url('../img/retreat.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

.splash-text {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

tr > td.date {
    color: #bbb;
    width: 20%;
}
.total-table {
    background: #FFFFFF;
    
}
.row {
    padding-top: 40px;
    padding-bottom: 20px;
}
.header {
    text-align: center;
    border-bottom: 20px;
}
.text {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 150px;
    margin-right: 150px;
}
.context-background {
    background-color: #eee;
    border-radius: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
}
.btn {
    padding: 10px 16px;
    font-size: 20px;
    border-radius: 5px;
    color: #F0FFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-test-bank {
    background-color: #3276b1;
    border-color: #3276b1;
}

.btn-test-bank:hover {
    background-color: #285e8e;
    border-color: #285e8e;
    color: #F0FFFF;
}

.btn-pd-blog {
    background-color: #47a447;
    border-color: #47a447;
}

.btn-pd-blog:hover {
    background-color: #398439;
    border-color: #398439;
    color: #F0FFFF;
}

.images {
    display: block;
    width: auto;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.long-table {
    font-size: 15px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
