body {
	background-color: #8C8F91;
}

#sad {
	margin-left:auto;
	margin-right:auto;
	margin-top:2%;
	width:50%;
	border-style:groove;
	border-color:#4f4f4f;
	border-width:5px;
	outline:white solid 3px;
}

#sad img{
	width:100%;
}

#title {
	color:white;
	font-size:48px;
}

#sub-text {
	color:white;
	font-size:16px;
}

.text {
	text-align:center;
}