#btn-holder{
	margin:5px;
}
.disabled-nav a{
	cursor: default;
}
.name{
	text-align: center;
	font-size: 35px;
	position: relative;
	margin-top: -10px;
}
.position {
	text-align: center;
	position: relative;
}
.profileContainer {
	position:relative;
	height:300px;
	padding-top:50px;
	-webkit-transition: all 0.8s;
  	-moz-transition: all 0.8s;
  	transition: all 0.8s;
}
.profileContainer:hover{
	padding-top:0px;
}
.profileInfo, .person-desc {
	text-align: center;
	position: absolute;
	width:95%;
	height:100%;
}
.person-desc{
	opacity: 0;
	background-color: #ffffff;
	-webkit-transition: all 0.8s ease-in-out;
  	-moz-transition: all 0.8s ease-in-out;
  	transition: all 0.8s ease-in-out;
}
.person-desc:hover {
	opacity: 1;
}
.person-desc .name{
	text-align: center;
}
.person-desc .position {
	text-align: center;
}
.person-desc p {
	padding: 10px;
	background-color: #f2f2f2;
}
.committee-title {
	margin-top:50px;
}
.branch-container {
	margin-top: 70px;
}
body {
	margin-bottom: 50px;
}
.row {
	margin-left: 3px;
}

#horizontal-line {
    margin-top: 90px;
}

