/* Daniel*/
.greycolor {
    color: #707070;
}

.bluecolor {
    color: #003399;
}

/* Jason */
.whyrohp-bg {
    background-image: url('../img/rohp_n_stuff.jpg');
    background-repeat:no-repeat;
    background-position:69% 31%;
    background-size:100%;
}

.whyrohp-text {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

/* Andrew */
.shadedBg {
    background: #f8f8f8;
}
.container-fluid .row {
    margin-left: 50px;
    margin-right: 50px;
}
#classVisit {
    padding-bottom: 50px;
}
td {
    font-size: 12px;
}

