.highlight {
	background-color: yellow;
}

.result {
	border:1px solid #D4D4D4;
	border-radius:10px;
	margin-bottom:20px;
	padding-top:20px;
	transition:.3s;
	-webkit-transition:.3s;
	-moz-transition:.3s;
}

.result:hover {
	background-color:#F0F5F8;
	-webkit-transform: scale(1.01,1.01);
	cursor:pointer;
}

.faq_list {
	margin:30px 0px;
}

.question {
	border:1px solid grey;
	border-radius:5px;
	padding:5px;
	font-size:16px;
	margin-bottom:5px;
	transition:.3s;
	-webkit-transition:.3s;
	-moz-transition:.3s;
}

.question:hover {
	cursor:pointer;
	background-color:#F0F5F8;
	-webkit-transform: scale(1.01,1.01);
}

.answer {
	display:none;
}

.question-results {
	border:1px solid grey;
	border-radius:5px;
	padding:5px;
	font-size:16px;
	margin-bottom:5px;
	background-color:#F0F5F8;
}
/*.result:visited {
	background-color:#d4d4d4; 
}*/

.results-info {
	margin-left:5%;
	margin-right:5%;
}

.photo {
	float:right;
	margin-bottom:20px;
}

.name {
	font-size:24px;
	font-weight:bold;

}