{% extends "base.html" %}
{% load staticfiles %}

<!-- Meta data -->
{% block title %}About{% endblock %}

<!--    Navigation: select the right button to be active.
        Change tab-home to one of the following {tab-home|tab-about|tab-rohp|tab-ss|tab-tedx|tab-contact}
-->
{% block tab-about %}active{% endblock %}


<!--Any additional CSS files you want to include -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />
{% endblock %}


<!-- Main content -->
{% block content %}
<div class="jumbotron parallax splash-bg">
</div>
<div class="container" id="mainContainer">
  <!--<div class="row">
    <div class="col-md-12">
      <h1>Regents' and Chancellor's Scholars Association</h1>
    </div>
  </div>-->
  <div class="row">
    <!-- <div class="col-md-1"> </div> -->
    <div class="col-md-7 col-centered" align="center">
      <h2>RCSA Mission Statement</h2>
      <p>The <b>Regents' and Chancellor's Scholars Association (RCSA)</b> is a diverse community of over nine hundred students at the University of California, Berkeley. RCSA assembles a passionate group of future leaders in a supportive environment that fosters collaboration and personal growth. <BR><BR>
      RCSA’s mission is to provide academic, social, and professional opportunities in order to cultivate leadership that members can then bring to Berkeley and wider communities.</p>
    </div>
  </div>
  <hr>
   <div class="row">
       <div class="col-md-6 crop photo1"><img src="{% static 'img/apperson.jpg' %}" WIDTH="100%" /></div>
     <div class="col-md-6">
       <h3>Who takes part in RCSA?</h3>
       <p>All recipients of the Regents' and Chancellor's Scholarship are part of RCSA. The Regents' and Chancellor's Scholarship carries the highest honor awarded by the University of California, Berkeley, to entering undergraduates. The prestige of the Regents’ and Chancellor's Scholarship begins with the initial honor of being chosen for the award and welcomed to the Berkeley campus by the Chancellor at a fall reception.</p>
     </div>
   </div>
  <br><br>
  <div class="row">
    <div class="col-md-6">
       <h3>What are the benefits?</h3>
       <p>Further networking with faculty and fellow scholars throughout your academic career at Berkeley results in lifelong beneficial associations. RCSA links scholars together to foster friendship and the free exchange of ideas and talents among its members. We hope that RCSA can enrich the college experience for its members and help members contribute to the campus and the surrounding community.</p>
    </div>
    <div class="col-md-6 crop photo2"><img src="{% static 'img/meet_and_greet.jpg' %}" WIDTH="100%" /></div>
   </div>
  <br class="clear"><br><br>
   <div class="row">
    <div class="col-md-9 col-centered" align="center">
      <h3><em>Looking for more info?</em></h3>
      <span>For details about the Regents' and Chancellor's Scholarship,<br>please visit the official UC Berkeley <a href="http://financialaid.berkeley.edu/regents-and-chancellors-scholarship">financial aid website</a>.</span>
    </div>
  </div>
</div>
{% endblock %}


<!-- Any additional JavaScript files you want to include -->
{% block javascripts %}
<script src="{% static 'js/parallax.js' %}"></script>
{% endblock %}
