{% extends "base.html" %}
{% load staticfiles %}

<!-- Meta data -->
{% block title %}All Events{% endblock %}

<!--    Navigation: select the right button to be active.
        Change tab-home to one of the following {tab-home|tab-about|tab-rohp|tab-ss|tab-tedx|tab-contact}
-->
{% block tab-home %}active{% endblock %}


<!--Any additional CSS files you want to include -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/all_events.css' %}" />
{% endblock %}


<!-- Main content -->
{% block content %}
<!--
    Make sure all your content is within a column. Every column is placed within a row. A row must be within a container.
    See the home page for an example of how this is done.

    We do this because bootstrap has a grid system that takes care of all the nitty-gritty margin and padding details.

    We are working with a 12 column grid, so make sure all your components fit within the 12-column grid. Don't try to
    make a row with 13+ columns. If you need more space, make another row.

    For more information about bootstrap's grid system, see: http://getbootstrap.com/css/#grid
-->

<div class="container">
    <div class="row">
        <h1> All Events </h1>
        {% for semester, events in events_by_semester %}
        <div class="events_list">
            <div class="semester"> {{ semester }}</div>
            <div class="events">
                {% if modify %}
                <table class="table table-bordered table-hover table-striped">
                {% else %}
                <table class="table table-bordered table-striped">
                {% endif %}
                    <thead>
                        <tr>
                            <td><strong> Event Name </strong> </td>
                            <td><strong> Event Location </strong> </td>
                            <td><strong> Event Date and Time</strong> </td>
                            <td><strong> Event Attendance </strong></td>
                            <td><strong> House Points Eligible? </strong> </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% autoescape on %}
                        {% for event in events %}
                        {% if modify %}
                        <tr onclick="location.href='../event/{{ event.pk }}';" onmouseover="" style="cursor: pointer;">
                        {% else %}
                        <tr onclick="location.href='../event_info/{{ event.pk }}';" onmouseover="" style="cursor: pointer;">
                        {% endif %}
                            <td>{{ event.name }} </td>
                            <td> {{ event.location }} </td>
                            <td> {{ event.date }} </td>
                            <td> {{ event.num_attendees }} </td>
                            {% if event.house_points %}
                            <td> Yes </td>
                            {% else %}
                            <td> No </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        {% endautoescape %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


<!-- Any additional JavaScript files you want to include -->
{% block javascripts %}
<script>
    $(".events").hide();
    $(".semester").click(function () {
        $(this).next(".events").slideToggle(500);
    });
</script>
{% endblock %}
