{% extends "base.html" %}
{% load staticfiles %}

<!-- Meta data -->
{% block title %}The Association{% endblock %}

<!--    Navigation: select the right button to be active.
        Change tab-home to one of the following {tab-home|tab-about|tab-rohp|tab-ss|tab-tedx|tab-contact}
-->
{% block tab-association %}active{% endblock %}


<!--Any additional CSS files you want to include -->
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/association.css' %}"/>
{% endblock %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- Main content -->
{% block content %}
<div class="jumbotron parallax splash-bg">
</div>
<!--
    Make sure all your content is within a column. Every column is placed within a row. A row must be within a container.
    See the home page for an example of how this is done.

    We do this because bootstrap has a grid system that takes care of all the nitty-gritty margin and padding details.

    We are working with a 12 column grid, so make sure all your components fit within the 12-column grid. Don't try to
    make a row with 13+ columns. If you need more space, make another row.

    For more information about bootstrap's grid system, see: http://getbootstrap.com/css/#grid
-->
<hr width="1" size="500">
  <div class="container">
  <div class = "row" id="association-header">
    <div class = "col-md-4 col-md-offset-4"><h1> THE ASSOCIATION</h1> </div>
  </div>
  <div class="row col-xs-6 col-md-6" id="left column">
    <p>
    <font size = "3">

The basic organizational <a title="structure"  id="structure-title" class="keyword">structure</a> of RCSA consists of four overarching <a title="" id="tiers-title" class="keyword">tiers</a> that are separated into 4 categories of operation that each consist of various 
 <a title="Click me to go to their page!" id = "committees-title" class="keyword">committees</a>. 

 There are also four "<a title="" id="houses-title" class="keyword" >houses</a>" 
within the organization that create smaller social settings. If you're interested in the RCSA scholar demographic, check out the scholar 
<a title="" id="profile-title" class="keyword">profile</a>. Members receive regular 
<a title="" id="communications-title" class="keyword">communications</a> to learn how to get involved. Some programs that students can get involved in are 
<a title="" id="rohp-title" class="keyword">ROHP</a>, 
<a title="" id="tedx-title" class="keyword">TEDxBerkeley</a>, 
<a title="" id="scholarconnect-title" class="keyword">Scholar Connect</a>.<br>
</font>
</p>

      </div>

<!--<div id="structure"> </div> -->
    
<div class="row col-xs-6 col-md-6">
    <div id="structure-popup">
        <img width="100%" height="100%" src="{% static 'img/association_page/structure.jpg' %}"/>
    </div>
    <div id="tiers-popup" class="popup">
        <ul> 
        <li> The top tier consists of the President(s), who manages large-scale projects and oversee the organization’s function.</li><br> 
        <li> The second is the Executive Committee, who reports directly to the President(s). There are four positions on this committee, each leading a different branch (Operations, Finance, External, Iternal).</li><br>
        <li> The third consists of committee Coordinators who lead committees dedicated to specific projects and events. They report their respective branch heads.</li> <br>
        <li> The last tier is the committee members!</li><br>
        </ul>
        <img width="100%" height="100%" src="{% static 'img/association_page/tiers.jpg' %}"/>
    </div>
    <div id ="committees-popup" class="popup">
        Read more about committes under "Getting Involved", "The Committees"!<br><br>
        <img width="100%" height="100%" src="{% static 'img/association_page/committees.jpg' %}"/>
    </div>
        <div id="houses-popup" class="popup">
        Modeled after the houses of Hogwarts, these houses are named after influential Berkeley community leaders: (John) Rockefeller, (Caesar) Chavez, (Mario) Savio, and (Phoebe) Apperson.<br><br>
       	Each House is has a House Leader, who hosts several house-specific events and socials throughout the year. Students are sorted into houses in their first month at Berkeley, and remain in that house until they graduate. They can earn points for their house by attending events and winning competition-style events. At the end of each semester, the house with the most points wins a prize!<br><br>
        <img width="100%" height="100%" src="{% static 'img/association_page/houses.jpg' %}"/>
    </div>
    <div id="profile-popup" class="popup">
        Each class of the Regents’ and Chancellor’s Scholarship contains 200-250 members for a total of 900-1000 members annually.<br><br>
        The majors most commonly undertaken by R&amp;C Scholars are Electrical Engineering &amp; Computer Science (or Computer Science), Molecular and Cell Biology, Bioengineering, Mechanical Engineering, Chemical Engineering, Chemical Biology, Public Health, Civil and Environmental Engineering, Political Science, Business Administration, and Chemistry.<br><br>
        Transfer students make up about 4% of the scholar population, while the remaining 96% is made up of those who enter as Freshmen.<br><br>
        <img width="100%" height="100%" src="{% static 'img/association_page/profile.jpg' %}"/>
    </div>
    <div id="communications-popup" class="popup">
        A Weekly Newsletter is e-mailed every Sunday around noon to the entire scholar population with the e-mail address we have on record. A copy of all archived newsletters is available <a href="http://www.tinyurl.com/RCSANewsletters"> here </a>.<br><br>
        If you are a current RCSA member and are not receiving Weekly Newsletters, please check the Spam folder of your email. Otherwise, email us at berkeleyrcsa@gmail.com.<br><br>
        There is also a Facebook group for members that current scholars can request to join <a target=_blank href="https://www.facebook.com/groups/UCBerkeleyRCSA/">here</a>. Please note that your name will be cross-checked with our official scholar roster before you are approved to join. Periodic announcements and event invitations will also be posted in this group. <br><br>
        <img width="100%" height="100%" src="{% static 'img/association_page/communications.jpg' %}"/>
    </div>
    <div id="rohp-popup" class="popup">
        ROHP is the Regents’ Overnight Host Program. Over the course of 5 sessions, each lasting one night, over 350 high-school seniors and prospective Regents’ scholars are hosted by current UC Berkeley students and given a true Cal experience. Current scholars can sign up to host or take part in other capacities. Check out their website by clicking on "ROHP" in the navigation bar.<br><br>
        <img width="100%" height="100%" src="{% static 'img/association_page/rohp.jpg' %}"/>
    </div>
    <div id="tedx-popup" class="popup">
        TEDxBerkeley is an annual TED talks conference held at UC Berkeley, and an independently organized TED event. Student volunteers help to staff this event that attracts over 1200 attendees ever year. For more information, check out their website by clicking on "TEDxBerkeley" on the navigation bar. <br><br>
        <img width="100%" height="100%" src="{% static 'img/association_page/tedx.jpg' %}"/>
    </div>
    <div id="scholarconnect-popup" class="popup">
        Scholar Connect is a pilot program that connects prospective students to current students, and current students with other current students. This is by virtue of online profiles that create a self-sustaining system of mentorship and making friends. You can apply to have your profile uploaded. Check out that website <a href="www.rcsa.berkeley.edu/scholarconnect"> here</a>. <br><br>
        <img width="100%" height="100%" src="{% static 'img/association_page/scholarconnect.jpg' %}"/>
    </div>
        
        
</div>

{% endblock %}


<!-- Any additional JavaScript files you want to include -->
{% block javascripts %}
    <script src="{% static 'js/association.js' %}"></script>
{% endblock %}