{% extends "base.html" %}

<!-- Meta data -->
{% block title %}The Association{% endblock %}

<!--    Navigation: select the right button to be active.
        Change tab-home to one of the following {tab-home|tab-about|tab-rohp|tab-ss|tab-tedx|tab-contact}
-->
{% block tab-association %}active{% endblock %}


<!--Any additional CSS files you want to include -->
{% block css %}
{% endblock %}


<!-- Main content -->
{% block content %}
<div class="continer-fluid parallax splash-bg">
</div>
<!--
    Make sure all your content is within a column. Every column is placed within a row. A row must be within a container.
    See the home page for an example of how this is done.

    We do this because bootstrap has a grid system that takes care of all the nitty-gritty margin and padding details.

    We are working with a 12 column grid, so make sure all your components fit within the 12-column grid. Don't try to
    make a row with 13+ columns. If you need more space, make another row.

    For more information about bootstrap's grid system, see: http://getbootstrap.com/css/#grid
-->
<div class="container">
   <div class="row">
    I'm 80% sure this is where words go
    <h1> perhaps this is a header </h1>
    WHAT AM I DOING
    <br>
    {% for coolscholars in coolscholars %}
    {{coolscholars.first_name}} {{coolscholars.last_name}}
    {% endfor %}

   </div>
</div>
{% endblock %}


<!-- Any additional JavaScript files you want to include -->
{% block javascripts %}
  <script src="{{STATIC_URL}}/js/parallax.js"></script>
{% endblock %}