{% extends "base.html" %}
{% load staticfiles %}

<!-- Meta data -->
{% block title %}Current Students{% endblock %}

<!--    Navigation: select the right button to be active.
        Change tab-home to one of the following {tab-home|tab-about|tab-rohp|tab-ss|tab-tedx|tab-contact}
-->
{% block tab-student_services %}active{% endblock %}


<!--Any additional CSS files you want to include -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/current_students.css' %}" />
{% endblock %}


<!-- Main content -->
{% block content %}
<div class="jumbotron splash-bg">
   <div class="container">
      <div class="row">
        <div class="col-md-5 splash-text">
        <h1>Welcome!</h1>
        <p>Hello current Regents’ scholars! Want to sign up to host for ROHP in 2014? How about registering for the Scholar Contact Program, where you can correspond with prospective Berkeley students about life at Cal? You can do both of those here!</p>
        </div>
      </div>
   </div>
</div>
<div class="container">
   <div class="row">
       <!-- HOSTING -->
       <div class="col-md-12 context-background">
            <h3 class="header">ROHP Dates and Scheduling</h3>
       </div>
       <div class="text">
       <p><br><br><br>
<div class="total-table"><strong>February 27th - 28th</strong><br>
<i>Thursday-Friday Overnight Program</i><br>
<u>February 27th</u><br>
    <table border=0>
        <tr>
            <td>5:00 pm – </td><td>Program begins.  Guests arrive and check in at Anna Head Alumnae Hall. Guests then mingle with current scholars and hosts.</td>
        </tr>
        <tr>
            <td>5:30 pm – </td><td>Dinner is served.  Guests eat during faculty speech and student group performance.</td>
        </tr>
        <tr>
            <td>6:00 pm – </td><td>Student Panel.  Current scholars from a variety of fields and backgrounds will answer guest questions.</td>
        </tr>
        <tr>
           <td>6:30 pm – </td><td> Guests check out with hosts and take belongings to the dorms.</td>
        </tr>
        <tr>
            <td>8:00 pm – </td><td>ROHP Night Tour.  Hosts will drop off guests at Sproul Plaza, where the tour will begin.</td>
        </tr>
        <tr>
            <td>9:00 pm – </td><td>Tour ends.</td>
        </tr>
        <tr>
            <td></td><td>Guests can either return to dorms with hosts, </td>
        </tr>
        <tr>
            <td></td><td>or participate in optional nighttime activities led by ROHP committee members (CREAM, Big C).</td>
        </tr>
    </table>
    <br>
       <u>February 28th</u>
    <table border=0>
        <tr>
            <td>8:00 am – </td><td>Program officially ends.</td>
        </tr>
        <tr>
            <td></td><td>Guests find breakfast independently or with hosts.</td>
        </tr>
        <tr>
            <td></td><td>Throughout the day, guests can continue to socialize with hosts or drop in on designated classes.</td>
        </tr>
        <tr>
            <td>12:00 pm – </td><td>Optional: Guests meet at Sproul Plaza for lunch excursion to neighboring Berkeley restaurants,</td>
        </tr>
        <tr>
            <td></td><td>led by ROHP Committee members.</td>
        <tr>
    </table><br><br>
    <strong>February 28th - March 1st</strong><br>
    <i>Friday – Saturday Overnight Program</i><br>
    <u>February 28th</u>

    <table border=0>
        <tr>
            <td width="9%">5:00 pm  – </td><td>Program begins.  Guests arrive and check in at Anna Head Alumnae Hall. Guests then mingle with current scholars and hosts.</td>
        </tr>
        <tr>
            <td>5:30 pm – </td><td>Dinner is served.  Guests eat during faculty speech and student group performance.</td>
        </tr>
        <tr>
            <td>6:00 pm – </td><td>Student Panel.  Current scholars from a variety of fields and backgrounds will answer guest questions.</td>
        </tr>
        <tr>
            <td>6:30 pm – </td><td>Guests check out with hosts and take belongings to the dorms.</td>
        </tr>
        <tr>
            <td>8:00 pm – </td><td>ROHP Night Tour.  Hosts will drop off guests at Sproul Plaza, where the tour will begin.</td>
        </tr>
        <tr>
            <td>9:00 pm – </td><td>Tour ends.  Guests can either return to dorms with hosts, or participate in optional nighttime activities led by ROHP committee members (CREAM, Big C).</td>
        </tr>
    </table>
     <u>March 1st</u><br>
    <table border=0>
        <tr>
            <td width="11%">8:00 am – </td><td>Program officially ends. Guests find breakfast independently or with hosts.</td>
        </tr>
        <tr>
            <td>11:00 am – </td><td>Meet at Memorial glade for optional daytime activities.</td>
        </tr>
        <tr>
            <td>12:30 pm – </td><td>Break for lunch (not provided by ROHP: bring some money! There are many great places to eat).</td>
        </tr>
        <tr>
            <td>1:30 pm – </td><td>Return to Memorial Glade for more optional daytime activities.</td>
        </tr>
    </table><br><br>
    <strong>March 1st - 2nd</strong><br>
    <i>Saturday – Sunday Overnight Program</i><br>
    <table border=0>
        <tr>
            <td width="9%">5:00 pm  – </td><td>Program begins.  Guests arrive and check in at Anna Head Alumnae Hall. Guests then mingle with current scholars and hosts. </td>
        </tr>
        <tr>
            <td>5:30 pm – </td><td>Dinner is served.  Guests eat during faculty speech and student group performance.</td>
        </tr>
        <tr>
            <td>6:00 pm – </td><td>Student Panel.  Current scholars from a variety of fields and backgrounds will answer guest questions.</td>
        </tr>
        <tr>
            <td>6:30 pm – </td><td>Guests check out with hosts and take belongings to the dorms.</td>
        </tr>
        <tr>
            <td>8:00 pm – </td><td>ROHP Night Tour.  Hosts will drop off guests at Sproul Plaza, where the tour will begin.</td>
        </tr>
        <tr>
            <td>9:00 pm – </td><td>Tour ends.  Guests can either return to dorms with hosts, or participate in optional nighttime activities led by ROHP committee members (CREAM, Big C).</td>
        </tr>
    </table><br>
    <u>March 2nd</u><br>
    <table border=0>
        <tr>
            <td width="9%">8:00 –</td><td>Program officially ends. Guests find breakfast independently or with hosts.</td>
        </tr>
    </table><br>

NOTE: If students have interviews scheduled at any time during the ROHP program, they are free to leave and return as necessary.
 <br><br>
    <u>April 5th</u>
    <i>Saturday Program</i>
    <table border=0>
        <tr>
            <td width="9%">1:00 pm – </td><td>Program begins.  Guests arrive and check in at Anna Head Alumnae Hall.  Guests can then mingle with current scholars.</td>
        </tr>
        <tr>
            <td>1:30 pm –</td><td>Faculty Speech and Student Group Performance</td>
        </tr>
        <tr>
            <td>2:00 pm –</td><td>Student Panel Session 1. Current scholars from a variety of fields and backgrounds will answer guest questions. (A separate student panel and Financial Aid presentation will be held for parents)</td>
        </tr>
        <tr>
            <td>3:00 pm – </td><td>Scavenger Hunt</td>
        </tr>
        <tr>
            <td>4:30 pm – </td><td>Student Panel Session 2.  Guests can attend a different student panel to learn about a different aspect of the Berkeley community.</td>
        </tr>
        <tr>
            <td>5:30 pm – </td><td>Program ends.  Guests and parents are encouraged to find dinner at local Berkeley restaurants. </td>
        </tr>
    </table><br><br>
 <table border=0>
    <strong>April 11th – 12th</strong><br>
    <i>Friday – Saturday Overnight Program</i><br>
    <u>April 11th</u><br>
        <tr>
            <td width="9%">5:00 pm  – </td><td>Program begins.  Guests arrive and check in at Anna Head Alumnae Hall. Guests then mingle with current scholars and hosts. </td>
        </tr>
        <tr>
            <td>5:30 pm – </td><td>Dinner is served.  Guests eat during faculty speech and student group performance.</td>
        </tr>
        <tr>
            <td>6:00 pm – </td><td>Student Panel.  Current scholars from a variety of fields and backgrounds will answer guest questions.</td>
        </tr>
        <tr>
            <td>6:30 pm – </td><td>Guests check out with hosts and take belongings to the dorms.</td>
        </tr>
        <tr>
            <td>8:00 pm – </td><td>ROHP Night Tour.  Hosts will drop off guests at Sproul Plaza, where the tour will begin.</td>
        </tr>
        <tr>
            <td>9:00 pm – </td><td>Tour ends.  Guests can either return to dorms with hosts, or participate in optional nighttime activities led by ROHP committee members (CREAM, Big C).</td>
        </tr>
    </table><br>
    <u>April 12th</u><br>
    <table border=0>
        <tr>
            <td width="9%">8:00 am –</td><td>Program officially ends.  Guests find breakfast independently or with hosts. It is highly recommended that guests enjoy Cal Day activities!</td>
        </tr>

</table><br>
Note: Due to reasons beyond our control, the above schedule may be inaccurate past the arrival time; please be present as close to the arrival time as you can!
       </p>
</div>
       </div>

       <!-- ROHP RISK PREVENTION -->
       <div class="col-md-12 context-background">
            <h3 class="header">ROHP Risk Prevention - Medical Emergency</h3>
       </div>
       <div class="text">
       <p>
            In the event of a medical emergency, the host should immediately determine whether the injury is life-threatening (loss of consciousness, difficulty breathing, etc.). The default is to assume the injury is life threatening.
            <br><br>Here are local emergency call numbers:
       </p>

            <div class="long-table">
                <table border="0" align="center">
                    <tr>
                        <td>University of California Emergency (from campus phone)</td>
                        <td>911</td>
                    </tr>
                    <tr>
                        <td>University of California Emergency (from cell phone)</td>
                        <td>642-3333</td>
                    </tr>
                    <tr>
                        <td>City of Berkeley Emergency (from land line off campus but within city limits)</td>
                        <td>911</td>
                    </tr>
                    <tr>
                        <td>City of Berkeley Emergency (from cell phone)</td>
                        <td>981-5911</td>
                    </tr>
                </table>
            </div>
       </div>

       <!-- Emotional/Psychological Emergency -->
       <div class="col-md-12 context-background">
            <h3 class="header">Emotional/Psychological Emergency</h3>
       </div>
       <div class="text">
        <p>
            A guest may suffer a panic attack or go wild beyond your control. Or, worse, a guest may exhibit bipolar, bizarre, or perhaps threatening behavior.
            Here are local contact numbers for emotional crises:
        </p>
       </div>
            <div class="long-table">
                <table border="0" align="center">
                    <tr>
                        <td>Tang Center (regular business hours)</td>
                        <td>642-2000</td>
                    </tr>
                    <tr>
                        <td>Tang Center's After Hours Advice Nurse</td>
                        <td>643-7197</td>
                    </tr>
                    <tr>
                        <td>Alameda County 24/7 crisis/suicide prevention hotline</td>
                        <td>800-309-2131</td>
                    </tr>
                </table>
            </div>
       </div>

       <!-- SCHOLAR CONTACT PROGRAM -->
       <div class="col-md-12 context-background">
            <h3 class="header">Scholar Contact Program</h3>
       </div>
       <div class="text">
       <p>Thank you to those who participated in last year's Scholar Contact Program. If you are looking to sign up, Scholar Contact assignments for 2014 will be released soon. This program is an essential recruitment tool for bringing the best and the brightest of Cal's applicants to our University, and we appreciate your continued support.</p>
       </div>
   </div>
</div>
{% endblock %}


<!-- Any additional JavaScript files you want to include -->
{% block javascripts %}
{% endblock %}
