{% extends "base.html" %}
{% load staticfiles %}

<!-- Meta data -->
{% block title %}Leadership{% endblock %}

<!--    Navigation: select the right button to be active.
        Change tab-home to one of the following {tab-home|tab-about|tab-rohp|tab-ss|tab-tedx|tab-contact}
-->
{% block tab-about %}active{% endblock %}


<!--Any additional CSS files you want to include -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/leadership.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/ihover.css' %}" />
{% endblock %}


<!-- Main content -->
{% block content %}

  <div class="continer-fluid parallax splash-bg">
  </div>
  <div class="container">
    <div class="large-10 columns main-content">

    <ul class="nav nav-pills" id="btn-holder">
        <li class="branch-nav" id="excomm-nav" onclick="showBranch(this, '#ExComm')"><a href="javascript:void(0)">ExComm</a></li>
        <li class="branch-nav" onclick="showBranch(this, '#External')"><a href="javascript:void(0)">External Branch</a></li>
        <li class="branch-nav" onclick="showBranch(this, '#Internal')"><a href="javascript:void(0)">Internal Branch</a></li>
        <li class="branch-nav" onclick="showBranch(this, '#Operations')"><a href="javascript:void(0)">Operations Branch</a></li>
        <li class="branch-nav" onclick="showBranch(this, '#Finance')"><a href="javascript:void(0)">Finance Branch</a></li>
    </ul>

    <div class="branch-container" id="ExComm">
        <h2 class="branch-title">ExComm</h2>
        <br>

        <!-- Start left row -->
        <div class="row">
        <!-- start person photo-->
        <div class="col-sm-3">
            <div class="ih-item circle effect1"><a href="javascript:void(0)">
                <div class="spinnerLeft"></div>
                <div class="img"><img src="{% static 'img/profiles/uday_mehta.png' %}" alt="Uday Mehta"></div>
                </a></div>
          </div>
        <!-- end person photo-->
        <!-- Start profile -->
        <div class="col-sm-6 profileContainer">
            <div class="profileInfo">
                <h3 class="name">Uday Mehta</h3>
                <h4 class="position">President</h4>
            </div>
            <div class="person-desc">
                <h3 class="name">Uday Mehta</h3>
                <h4 class="position">President</h4>
                <p>Uday (oo•day, as opposed to the accusatory you•day or the morbid you•die) is routinely accused of insanity due to his double major in Nuclear and Mechanical Engineering. He can be found giving tours on campus, operating nuclear reactors, or plotting to take over the world. Instead of President, he prefers the title “King of the Nerds.”</p>
            </div>
        </div>
        <!-- End profile -->
        </div>
        <!-- end leftRow -->

        <!-- Start left row -->
        <div class="row">
        <!-- start person photo-->
        <div class="col-sm-3">
            <div class="ih-item circle effect1"><a href="javascript:void(0)">
                <div class="spinnerLeft"></div>
                <div class="img"><img src="{% static 'img/profiles/lucky_ding.png' %}" alt="Lucky Ding"></div>
                </a></div>
          </div>
        <!-- end person photo-->
        <!-- Start profile -->
        <div class="col-sm-6 profileContainer">
            <div class="profileInfo">
                <h3 class="name">Lucky Ding</h3>
                <h4 class="position">President</h4>
            </div>
            <div class="person-desc">
                <h3 class="name">Lucky Ding</h3>
                <h4 class="position">President</h4>
                <p>Since her third grade report on Dr. Mae Jemison, Lucky has secretly wished to be an astronaut and experience what it’s like “up there.” With her feet on the ground at Cal, she pursues her interests in medicine, studying MCB – Immunology. Feel free to reach out to her at luckyding1@berkeley.edu.</p>
            </div>
        </div>
        <!-- End profile -->
        </div>
        <!-- end leftRow -->

        <!-- Start right row -->
        <div class="row">

        <!-- start person photo-->
        <div class="col-md-3 col-md-push-9">
            <div class="ih-item circle effect1"><a href="javascript:void(0)">
                <div class="spinnerRight"></div>
                <div class="img"><img src="{% static 'img/profiles/ben_jackson.png' %}" alt="Ben Jackson"></div>
                </a></div>
        </div>
        <!-- end person photo-->

        <div class="col-sm-6 profileContainer">
            <div class="profileInfo">
                <h3 class="name">Ben Jackson</h3>
                <h4 class="position">External Vice President</h4>
            </div>
            <div class="person-desc">
                <h3 class="name">Ben Jackson</h3>
                <h4 class="position">External Vice President</h4>
                <p>Ben is a senior studying Molecular and Cell Biology (Immunology) and English.  In his final year at Cal, he's excited to be RCSA's EVP with the amazing Annie Yau.  He loves Berkeley, food, and cats, and can frequently be found in lab or sequestered in the library/café with a cup of coffee.</p>
            </div>
        </div>



        </div>
        <!-- end right row -->

        <!-- Start right row -->
        <div class="row">

        <!-- start person photo-->
        <div class="col-md-3 col-md-push-9">
            <div class="ih-item circle effect1"><a href="javascript:void(0)">
                <div class="spinnerRight"></div>
                <div class="img"><img src="{% static 'img/profiles/annie_yau.png' %}" alt="Annie Yau"></div>
                </a></div>
        </div>
        <!-- end person photo-->

        <div class="col-sm-6 profileContainer">
            <div class="profileInfo">
                <h3 class="name">Annie Yau</h3>
                <h4 class="position">External Vice President</h4>
            </div>
            <div class="person-desc">
                <h3 class="name">Annie Yau</h3>
                <h4 class="position">External Vice President</h4>
                <p>Annie is kind of a big deal.</p>
            </div>
        </div>

        </div>
        <!-- end right row -->


        <!-- Start left row -->
        <div class="row">
        <!-- start person photo-->
        <div class="col-sm-3">
            <div class="ih-item circle effect1"><a href="javascript:void(0)">
                <div class="spinnerLeft"></div>
                <div class="img"><img src="{% static 'img/profiles/sophia_wang.png' %}" alt="Sophia Wang"></div>
                </a></div>
          </div>
        <!-- end person photo-->
        <!-- Start profile -->
        <div class="col-sm-6 profileContainer">
            <div class="profileInfo">
                <h3 class="name">Sophia Wang</h3>
                <h4 class="position">Internal Vice President</h4>
            </div>
            <div class="person-desc">
                <h3 class="name">Sophia Wang</h3>
                <h4 class="position">Interal Vice President</h4>
                <p>Sophia's hobbies include frisbee, volleyball, going to the beach, cooking, and trying new foods. She is always available to try a new food or new restaurant that just opened. Her favorite animal is a bunny and favorite color is teal :)</p>
            </div>
        </div>
        <!-- End profile -->
        </div>
        <!-- end leftRow -->


        <!-- Start left row -->
        <div class="row">
        <!-- start person photo-->
        <div class="col-sm-3">
            <div class="ih-item circle effect1"><a href="javascript:void(0)">
                <div class="spinnerLeft"></div>
                <div class="img"><img src="{% static 'img/profiles/josh_chen.png' %}" alt="Josh Chen"></div>
                </a></div>
          </div>
        <!-- end person photo-->
        <!-- Start profile -->
        <div class="col-sm-6 profileContainer">
            <div class="profileInfo">
                <h3 class="name">Josh Chen</h3>
                <h4 class="position">Internal Vice President</h4>
            </div>
            <div class="person-desc">
                <h3 class="name">Josh Chen</h3>
                <h4 class="position">Internal Vice President</h4>
                <p>Josh is a third year bioengineering major attempting an EECS minor. He hopes in the future to work in academia and develop new gadgets and gizmos to improve healthcare and the quality of life. He loves RCSA and loves talking to new people, so go say hello!</p>
            </div>
        </div>
        <!-- End profile -->
        </div>
        <!-- end leftRow -->



        <!-- Start right row -->
        <div class="row">

        <!-- start person photo-->
        <div class="col-md-3 col-md-push-9">
            <div class="ih-item circle effect1"><a href="javascript:void(0)">
                <div class="spinnerRight"></div>
                <div class="img"><img src="{% static 'img/profiles/mimi_yao.png' %}" alt="Mimi Yao"></div>
                </a></div>
        </div>
        <!-- end person photo-->

        <div class="col-sm-6 profileContainer">
            <div class="profileInfo">
                <h3 class="name">Mimi Yao</h3>
                <h4 class="position">Chief Operations Officer</h4>
            </div>
            <div class="person-desc">
                <h3 class="name">Mimi Yao</h3>
                <h4 class="position">Chief Operations Officer</h4>
                <p>Mimi is a fourth year Molecular and Cell Biology major from San Diego, California. She likes to walk along beaches and play volleyball with her sister. You can usually find her basking in the sunlight around campus like on the steps of Sproul or in front of the Campanile!</p>
            </div>
        </div>

        </div>
        <!-- end right row -->

        <!-- Start right row -->
        <div class="row">

        <!-- start person photo-->
        <div class="col-md-3 col-md-push-9">
            <div class="ih-item circle effect1"><a href="javascript:void(0)">
                <div class="spinnerRight"></div>
                <div class="img"><img src="{% static 'img/profiles/david_mrdjenovich.png' %}" alt="David Mrdjenovich"></div>
                </a></div>
        </div>
        <!-- end person photo-->

        <div class="col-sm-6 profileContainer">
            <div class="profileInfo">
                <h3 class="name">David Mrdjenovich</h3>
                <h4 class="position">Chief Financial Officer</h4>
            </div>
            <div class="person-desc">
                <h3 class="name">David Mrdjenovich</h3>
                <h4 class="position">Chief Financial Officer</h4>
                <p>Present, punctual, and prepared, David Mrdjenovich is the 2015-2016 authority on proper pecuniary practice and procedures (monetary management). Majoring in Materials Science and Engineering and minoring in EECS, David is a third year. Outside of school, David enjoys solving Rubik's Cubes, playing cello, and smiling. Have a nice day!</p>
            </div>
        </div>
        </div>
        <!-- end right row -->
    </div>

    <div class="branch-container" id="External">
        <h2 class="branch-title">External Branch</h2>

        <!-- Right to left-->
        <div class="row">
        <h3 class="committee-title">ROHP Committee Coordinators</h3>
          <div class="col-sm-6">
            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/aditya_nandy.png' %}" alt="Aditya Nandy"></div>
                <div class="info">
                  <h3>Aditya Nandy</h3>
                  <p>Entering his junior year at Cal, Aditya is pursuing a major in Chemical and Biomolecular Engineering and a minor in Electrical Engineering and Computer Science. Outside of studying and RCSA, you can catch him leading the Cal Figure Skating team, conducting research in the Reimer group, or drinking boba. After being on the ROHP committee for two years, he is proud to be a co-coordinator!</p>
                </div></a></div>
            <!-- end normal -->

          </div>
          <div class="col-sm-6">
            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/michelle_ma.png' %}" alt="Michelle Ma"></div>
                <div class="info">
                  <h3>Michelle Ma</h3>
                  <p>Michelle is a second-year majoring in Molecular Cell Biology. She is so excited to be ROHP co-coordinator for 2015-2016. Outside of academics and ROHP, Michelle can be found at ASUC meetings, doing research on infectious diseases, hanging out at cat cafes, and eating Ici ice cream. Please come say hi to her!</p>
                </div></a></div>
            <!-- end normal -->

          </div>
        </div>
        <!-- end Right to left-->

        <!-- Right to left-->
        <div class="row">
        <h3 class="committee-title">Liaison Committee Coordinators</h3>
          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/florence_yuan.png' %}" alt="Florence Yuan"></div>
                <div class="info">
                  <h3>Florence Yuan</h3>
                  <p>Florence is a 4th year double majoring in Integrative Biology and Psychology and minoring in Music. Outside of classes and RCSA, she loves solving puzzles, listening to almost any kind of music, and enjoying milk tea (midnight boba runs ftw). One of her favorite ways to procrastinate on homework is answering others' questions... so, if you ever have any, feel free to ask!</p>
                </div></a></div>
            <!-- end normal -->

          </div>

          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/mareena_haseeb.png' %}" alt="Marena Haseeb"></div>
                <div class="info">
                  <h3>Mareena Haseeb</h3>
                  <p>Mareena is an extremely passionate individual, especially about RCSA! Outside of RCSA, she is involved in PSA, MSA, BWIB, FSBC, AFX, Perfect Fifth, Stiles Hall Tutoring, and works at the Cal Student Store. Mareena has been performing her whole life, but more than the spotlight, she loves chocolate and pizza!</p>
                </div></a></div>
            <!-- end normal -->

          </div>

          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/sarah_klein.png' %}" alt="Sarah Klein"></div>
                <div class="info">
                  <h3>Sarah Klein</h3>
                  <p>Sarah's studying both Political Science, with a specialization in International Relations, and Middle Eastern Studies. Outside of the classroom, she enjoys volunteering, reading, playing with dogs, and perfecting her famous artichoke/spinach dip recipe. She's also an avid sports fan, and can be found yelling at the TV when football is on (GO NINERS).</p>
                </div></a></div>
            <!-- end normal -->

          </div>
        </div>
        <!-- end Right to left-->

        <!-- Right to left-->
        <div class="row">
        <h3 class="committee-title">Alumni Committee Coordinators</h3>
          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/tracy_lam.png' %}" alt="Tracy Lam"></div>
                <div class="info">
                  <h3>Tracy Lam</h3>
                  <p>She is really interested in photography and having a good time with people. She prides herself in her humor, jokes, and sarcasm.</p>
                </div></a></div>
            <!-- end normal -->

          </div>
          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/wayne_li.png' %}" alt="Wayne Li"></div>
                <div class="info">
                  <h3>Wayne Li</h3>
                  <p>Born in Chicago, raised in California. His hobbies include volleyball, chess, and video games. He's an avid Basketball fan (a die hard Chicago Bulls fan). He loves Chemistry with an interest in Astronomy, and he hopes to study both one day. </p>
                </div></a></div>
            <!-- end normal -->

          </div>
        </div>
        <!-- end Right to left-->

    </div>



    <div class="branch-container" id="Internal">
        <h2 class="branch-title">Internal Branch</h2>

        <!-- Right to left-->
        <div class="row">
        <h3 class="committee-title">Faculty Committee Coordinators</h3>
          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/arnold_chan.png' %}" alt="Arnold Chan"></div>
                <div class="info">
                  <h3>Arnold Chan</h3>
                  <p>Arnold loves studying Chemistry because he get to learn about the details of the universe. He likes playing the drums and golf. Arnold enjoys great food and conversations that can teach him something new. He also loves a good laugh -- from funny people, to silly things, or to comedy TV/movies.</p>
                </div></a></div>
            <!-- end normal -->

          </div>
          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/sean_kitayama.png' %}" alt="Sean Kitayama"></div>
                <div class="info">
                  <h3>Sean Kitayama</h3>
                  <p>Sean is a second year currently studying bioengineering and music. When away from his laptop, he loves to find great places to eat in the Bay Area, listen to classical music, perform with the university symphony, and play long, technical board games. He is really excited for a great year of RCSA!</p>
                </div></a></div>
            <!-- end normal -->

          </div>
        </div>
        <!-- end Right to left-->


        <!-- Right to left-->
        <div class="row">
        <h3 class="committee-title">Student Activities Committee Coordinator</h3>
          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/allison_zhong.png' %}" alt="Allison Zhong"></div>
                <div class="info">
                  <h3>Allison Zhong</h3>
                  <p>Allison is a senior studying Chemical Biology and Linguistics with aspirations to attend medical school. She is active in the dance community on campus and has also started an art club called Outlet. In her free time, she enjoys choreographing, photography, baking, and meeting all the cool people on campus!</p>
                </div></a></div>
            <!-- end normal -->

          </div>
        </div>
        <!-- end Right to left-->


        <!-- Right to left-->
        <div class="row">
        <h3 class="committee-title">House Leaders</h3>
          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/joshua_deng.png' %}" alt="Joshua Deng"></div>
                <div class="info">
                  <h3>Josh Deng</h3>
                  <p>Josh Deng of Rockefeller house is a sophomore at UC Berkeley majoring in Bioengineering. Currently, he intends to attend med school after graduating. His personal interests include music, theater, and figuring out what my other interests are. </p>
                </div></a></div>
            <!-- end normal -->

          </div>
          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/quincy_seigel.png' %}" alt="Quincy Seigel"></div>
                <div class="info">
                  <h3>Quincy Seigel</h3>
                  <p>Quincy is a sophomore from Texas. Majoring in premed-something-or-other, she hopes to someday become a dermatologist. She loves smiling, running, pretending she can dance at RSF hip hop classes, concerts, her Alpha Chi Omega sisters, nerd jokes, and Chavez, THE BEST RCSA HOUSE IN EXISTENCE!!</p>
                </div></a></div>
            <!-- end normal -->

          </div>
          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/samantha_chan.png' %}" alt="Samantha Chan"></div>
                <div class="info">
                  <h3>Samantha Chan</h3>
                  <p>During her free time, Samantha, of Savio House, likes to play the piano as well as golf, and is always looking forward to trying out new activities whenever she gets the chance to! Also loves hanging out with friends and family and doesn't know what she would do without them.</p>
                </div></a></div>
            <!-- end normal -->

          </div>
          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/tiffany_luo.png' %}" alt="Tiffany Luo"></div>
                <div class="info">
                  <h3>Tiffany Luo</h3>
                  <p>Tiffany of Apperson House is a psychology and public health double major. She is a second year but plans to graduate in three years. On campus, she is involved in the ASUC and student wellness/mental health organizations. She loves playing tennis, spending time with her three dogs, and meeting new people!</p>
                </div></a></div>
            <!-- end normal -->
          </div>
        </div>
        <!-- end Right to left-->


    </div>

    <div class="branch-container" id="Operations">
        <h2 class="branch-title">Operations Branch</h2>

        <!-- Right to left-->
        <div class="row">
        <h3 class="committee-title">Media and Marketing Committee Coordinators</h3>

          <div class="col-sm-6">
            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/antara_rao.png' %}" alt="Antara Rao"></div>
                <div class="info">
                  <h3>Antara Rao</h3>
                  <p>Antara is a senior MCB and Classics double major, (tentatively) hoping to pursue research as a future career. Apart from RCSA, she cultures neurons, teaches Cancer 101, and “plays” with bows and arrows in the Cal Archery Club. Other interests include soccer, Greek myth/culture, Kathak, drawing, running, photography, and guitar.</p>
                </div></a></div>
            <!-- end normal -->
          </div>

          <div class="col-sm-6">
            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/kristen_shimoda.png' %}" alt="Kristen Shimoda"></div>
                <div class="info">
                  <h3>Kristen Shimoda</h3>
                  <p>Kristen is a third year Chemical Biology major from Fresno, CA. When she's not taking photos for RCSA, she may be seen enjoying the wonderful restaurants around Berkeley, drinking boba, or dancing with hiphop groups around campus.</p>
                </div></a></div>
            <!-- end normal -->
          </div>

          <div class="col-sm-6">
            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/nicki_peternel.png' %}" alt="Nicki Peternel"></div>
                <div class="info">
                  <h3>Nicki Peternel</h3>
                  <p>Nicki was born and raised in the Bay Area, where she cultivated a love for the San Francisco Giants and Apple products. She is a second year EECS major. Outside of classes, she participates in leadership roles in RCSA, CalSO, and InterVarsity, loves trying new restaurants, and watches crime shows.</p>
                </div></a></div>
            <!-- end normal -->
          </div>

        </div>
        <!-- end Right to left-->


        <!-- Right to left-->
        <div class="row">
        <h3 class="committee-title">Sustainability Committee Coordinator</h3>
          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/devon_dibello.png' %}" alt="Devon DiBello"></div>
                <div class="info">
                  <h3>Devon DiBello</h3>
                  <p>From Philadelphia, Devon is a second year, intended Integrative Biology and Epidemiology double major. She enjoys running long distances, hiking the Appalachian trial, jewelry making and painting. She volunteers at the Berkeley Student Food Collective and is an active member of the Berkeley Organization for Animal Advocacy. </p>
                </div></a></div>
            <!-- end normal -->

          </div>
        </div>
        <!-- end Right to left-->

        <!-- Right to left-->
        <div class="row">
        <h3 class="committee-title">Web Development Committee Coordinators</h3>

          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/andy_wang.png' %}" alt="Andy Wang"></div>
                <div class="info">
                  <h3>Andy Wang</h3>
                  <p>Andy is a sophomore studying EECS. Besides RCSA, he is also involved in HKN and Hackers @ Berkeley. When he is not doing something school-related, he likes going on adventures in SF, cooking, appreciating minimalistic art, and working on side technological projects.</p>
                </div></a></div>
            <!-- end normal -->

          </div>

          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/jacqueline_liu.png' %}" alt="Jacqueline Liu"></div>
                <div class="info">
                  <h3>Jacqueline Liu</h3>
                  <p> A junior studying statistics and all things significant, Jacqueline loves food, ducks, puns and the Bay Area, where she has lived her entire life. She can often be found curled up in a blanket with a good book or watching a TED talk. If you have any criticisms of the website or fun facts to share, send an email to liu.jacqueline@berkeley.edu</p>
                </div></a></div>
            <!-- end normal -->

          </div>

        </div>
        <!-- end Right to left-->

        <!-- Right to left-->
        <div class="row">
        <h3 class="committee-title">Special Projects Manager</h3>
          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/alison_ong.png' %}" alt="Alison Ong"></div>
                <div class="info">
                  <h3>Alison Ong</h3>
                  <p>Alison is a 4th year Energy Engineering major, Public Policy and Design Innovation double minor from the fabulous, foggy city of San Francisco. She is honored and excited to serve as RCSA's first-ever Manager of Special Projects this year! Outside of RCSA, Alison loves dancing, eating, watching live theatre, bookbinding, telling terrible puns, and learning as many new things as possible.</p>
                </div></a></div>
            <!-- end normal -->

          </div>

        </div>
        <!-- end Right to left-->
    </div>




    <div class="branch-container" id="Finance">
        <h2 class="branch-title">Finance Branch</h2>

        <!-- Right to left-->
        <div class="row">
        <h3 class="committee-title">Corporate Relations Coordinators</h3>

          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/brandon_pearl.png' %}" alt="Brandon Pearl"></div>
                <div class="info">
                  <h3>Brandon Pearl</h3>
                  <p>Brandon is a computer science major and statistics minor. When he can catch a spare moment, he enjoys tinkering on the piano, practicing percussion, and failing at some of his favorite video games. To go with the passion for video games, Brandon wants to someday enter the game industry and join the teams that create the worlds he plays in today.</p>
                </div></a></div>
            <!-- end normal -->

          </div>

          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/justin_choe.png' %}" alt="Justin Choe"></div>
                <div class="info">
                  <h3>Justin Choe</h3>
                  <p>Justin Choe is a junior studying BioE.  He loves, anything to do with the great outdoors, scientific research, food and cooking, swimming, and sleeping. Fun fact: he has an identical twin brother named Jason.</p>
                </div></a></div>
            <!-- end normal -->

          </div>

        </div>
        <!-- end Right to left-->

        <!-- Right to left-->
        <div class="row">
        <h3 class="committee-title">Professional Development Committee Coordinators</h3>
          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/jennifer_chung.png' %}" alt="Jennifer Chung"></div>
                <div class="info">
                  <h3>Jennifer Chung</h3>
                  <p>Jennifer Chung is a second year intended Molecular and Cell Biology major at UC Berkeley. As a Los Angeles native, she loves the sun, bubble tea, and traveling. She also has a penchant for art and leadership. When she's not studying, you can find her reading or exploring.</p>
                </div></a></div>
            <!-- end normal -->

          </div>
          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/krupa_adusumilli.png' %}" alt="Krupa Adusumilli"></div>
                <div class="info">
                  <h3>Krupa Adusumilli</h3>
                  <p>Krupa is a second year economics major, public policy minor. She hopes to work for two years to get working experience and then go back to school for her MBA. Ultimately she would like to start a non-profit or run her family's businesses. She loves reading, traveling, watching tv, etc.</p>
                </div></a></div>
            <!-- end normal -->

          </div>
        </div>
        <!-- end Right to left-->


        <!-- Right to left-->
        <div class="row">
        <h3 class="committee-title">TEDx Committee Coordinators</h3>

          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/max_wolffe.png' %}" alt="Max Wolffe"></div>
                <div class="info">
                  <h3>Max Wolffe</h3>
                  <p>Max is a fourth year studying Electrical Engineering and Computer Science. He's a developer on Blueprint, technology for non-profits, a TEDxBerkeley Coordinator, and a TA for CS61A. He likes coffee and tea and is looking for people to drink with.</p>
                </div></a></div>
            <!-- end normal -->
          </div>

          <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/melody_jung.png' %}" alt="Melody_Jung"></div>
                <div class="info">
                  <h3>Melody Jung</h3>
                  <p>Melody is a junior Materials Science and Engineering and Bioengineering joint major from San Diego. Other than being one of the TEDxBerkeley coordinators, she spends her days dancing with her hip-hop team, baking, and crocheting stuffed animals while listening to podcasts. Find her curled in a café and say hi!</p>
                </div></a></div>
            <!-- end normal -->

        </div>
        </div>

        <div class="row">
            <div class="col-sm-6">

            <!-- normal -->
            <div class="ih-item circle effect3 right_to_left"><a href="javascript:void(0)">
                <div class="img"><img src="{% static 'img/profiles/leilani_gutierrez.png' %}" alt="Leilani Gutierrez"></div>
                <div class="info">
                  <h3>Leilani Gutierrez</h3>
                  <p>Leilani Gutierrez-Palominos is a second-year Molecular and Cell Biology major. Leilani dreams of helping people by becoming a doctor. A competitive swimmer for 11 years, she can be found hydrating her gills in any nearby body of water. Leilani also loves chocolate, laughing, and hugs.</p>
                </div></a></div>
            <!-- end normal -->

          </div>
        </div>
        <!-- end Right to left-->

    </div>
</div>
</div>
{% endblock %}


<!-- Any additional JavaScript files you want to include -->
{% block javascripts %}
    <script>
    $(document).ready(function(){
        $("#External").fadeOut(500);
        $("#Internal").fadeOut(500);
        $("#Finance").fadeOut(500);
        $("#Operations").fadeOut(500);
        $("#excomm-nav").addClass("active disabled-nav");

    });
    function showBranch(li, branch) {
        if ($(li).hasClass("disabled-nav")) {
            return false;
        }
        $(".branch-container").fadeOut(500);
        $(branch).fadeIn(500);
        $(".branch-nav").removeClass("active disabled-nav");
        $(li).addClass("active disabled-nav")
    }
    </script>
{% endblock %}
