{% extends "base.html" %}
{% load staticfiles %}

<!-- Meta data -->
{% block title %}Student Services{% endblock %}

<!--    Navigation: select the right button to be active.
        Change tab-home to one of the following {tab-home|tab-about|tab-rohp|tab-ss|tab-tedx|tab-contact}
-->
{% block tab-ss %}active{% endblock %}


<!--Any additional CSS files you want to include -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/student_services.css' %}" />
{% endblock %}


<!-- Main content -->
{% block content %}
<div class="continer-fluid parallax splash-bg">
</div>
<div class="container">
   <div class="row">
       <div class="col-md-12">
       	<center>
	       	<h1>Newsletters</h1>
	       	Select a newsletter to view from the list below! 
	       	<br>
	       	(NOTE: We have lots of words - loading can take up to a minute. Thank you for being patient!) 
	        <iframe src="https://drive.google.com/embeddedfolderview?id=0B2_SDn-E-Hi7bWpyOE1VV3JIMEU&usp=sharing#list" style="width:100%; height:600px; border:0;"></iframe>
        </center><br><br>
       </div>
   </div>
</div>
{% endblock %}


<!-- Any additional JavaScript files you want to include -->
{% block javascripts %}
{% endblock %}

