{% extends "base.html" %}
{% load staticfiles %}

<!-- Meta data -->
{% block title %}ROHP{% endblock %}
<!--    Navigation: select the right button to be active.
        Change tab-home to one of the following {tab-home|tab-about|tab-rohp|tab-ss|tab-tedx|tab-contact}
-->
{% block tab-rohp %}active{% endblock %}
<!--Any additional CSS files you want to include -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/rohp_prospect.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/current_students.css' %}" />
<script type="text/javascript">
  window.location="http://rohp.berkeley.edu";
</script>
{% endblock %}
<!-- Main content -->
{% block content %}
<!--
    Make sure all your content is within a column. Every column is placed within a row. A row must be within a container.
    See the home page for an example of how this is done.

    We do this because bootstrap has a grid system that takes care of all the nitty-gritty margin and padding details.

    We are working with a 12 column grid, so make sure all your components fit within the 12-column grid. Don't try to
    make a row with 13+ columns. If you need more space, make another row.

    For more information about bootstrap's grid system, see: http://getbootstrap.com/css/#grid
-->
<div class="whyrohp-bg">
  <div class="container">
    <!-- Row 1 -->
    <div class="row">
      <div class="col-md-5 whyrohp-text">
        <h1>Why ROHP?</h1>
        <p>
         Congratulations on reaching this stage of the application
        process! The University of California, Berkeley is one of the
        leading academic institutions in the world, and it is no small
        thing to be considered for the title of Regents’ and
        Chancellor’s Scholar. But as we all know, academics are not
        everything; the RCSA Overnight Host Program (ROHP) was created
        to enable prospective scholars to come and see whether Cal is
        the right place to spend the next four years. Through this
        program, you will receive a taste of the Cal student experience
        by staying in the dorms, exploring downtown Berkeley, and
        hanging out with current Scholars. We guarantee that you will
        have a wonderful time and meet people who will be your friends
        for your entire time at Cal! If you have any questions, please
        email
          <a href="mailto:rohpberkeley2014@gmail.com">rohpberkeley2014@gmail.com</a>
          . Trust us – you will have an
        amazing time!
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Row 2 -->
  <div class="row">
    <div class = "col-md-7">
      <h3>The Specifics of ROHP</h3>
      <h4 class = "greycolor">Dates</h4>
      <p>
        <ul>
          <li>
            Overnight programs: February 27, February 28, March 1 and April 11 (Friday before Cal Day)
          </li>
          <li>Daytime program: April 5</li>
        </ul>
      </p>
      <h4 class = "greycolor">April vs. February / March Days</h4>
      <p>
        The February and March days are intended for prospective Scholars from any part of California, but are especially convenient for those from Northern CA. Those coming to campus to interview for the Regents’ Scholarship will have a chance to explore our wonderful campus and dorm life in one trip! The April dates are more convenient for those living in Southern CA, since the weekend date does not interfere with school activities. For the sake of convenience, prospective scholars may feel free to attend an ROHP date before or after their interview date.
      </p>
      <p>
        We understand the February and March days are likely to be on a day where school is in session; however, many CA high schools have allowances for missing class due to college visitation or “senior projects” so we encourage you to check that out with your school’s administration. Also, we can tell you from our own ROHP experiences that it is well worth the possible make-up work!
      </p>
      <p>
        April’s ROHP is for prospective scholars who have already had their interviews, but have not yet experienced Berkeley, making it easier for them to come and enjoy Berkeley’s open house - Cal Day. This typically caters to prospective scholars from Southern CA and out-of-state. The evening before Cal Day (April 11th) is available. Please e-mail
        <a href="mailto:rohpberkeley2014@gmail.com">rohpberkeley2014@gmail.com</a>
        for any further information.
      </p>
      <br>
      <br>
      <br>
      <br></div>
    <div class = "col-md-5">
      <h3>How to Qualify for ROHP</h3>
      <p>
        Candidates for the Regents’ and Chancellor’s Scholarship who have been invited to interview with a faculty member for the scholarship qualify to participate in the RCSA Overnight Host Program (ROHP) put on by the Regents’ and Chancellor’s Scholars Association.
      </p>
      <p> <strong><em>You must submit a signed Waiver of Liability (signed by your parents if you are under 18) to the Undergraduate Scholarships Office before getting confirmation that you can attend ROHP.</em></strong>
      </p>
      <p>
        Return digital signature Waiver of Liability as an email attachment to
        <a href="mailto:uspho@berkeley.edu">uspho@berkeley.edu</a>; or send by fax to (510) 666-2011.
      </p>
      <p>
        We need the Waiver of Liability in order for you to attend ROHP. Only after Undergraduate Scholarships has received the Waiver of Liability can we confirm your participation in ROHP by e-mail. Contact
        <a href="mailto:uspho@berkeley.edu">uspho@berkeley.edu</a>
        if you have questions about the ROHP Waiver of Liability.
      </p>
      <br>
      <p>
      <a class="custom-button" role="button" href="{% static 'files/ROHP_Waiver_of_Liability_2014-2.pdf' %}">Download Waiver of Liability</a>
      </p>
      <br>
      <p>
        We need the Waiver of Liability in order for you to attend ROHP. Only after Undergraduate Scholarships has received the Waiver of Liability can we confirm your participation in ROHP by e-mail.
      </p>
      <p>
        In addition to submitting a waiver, all prospective scholars must also register for ROHP through our Eventbrite page.  Details can be found below.
      </p>
    </div>
  </div>
</div>
  <div class="container-fluid shadedBg">
    <!-- Row 3 -->
    <div class="row">
      <div class = "col-md-6">
        <h4>New: Daytime program on APRIL 5</h4>
        <p>
          Don’t miss out on ROHP! We are now having a daytime program on April 5, for those who choose not to stay overnight, but would still like to receive the Berkeley experience. We have planned activities and other experiences for prospective freshmen that would like to take part in a less time consuming, but rigorous program. Planned activities are listed on the
          <!--make "schedule" a link -->schedule below. <strong><em>Parking information is available <a href="{% static 'files/ParkingInfo.pdf' %}">here</a>. </em></strong></p>
        <p> <em>Parents:</em>
          You are invited to attend during the Daytime program on April 5th. We will have a page dedicated to parent sign-up during sign-ups for prospective scholars. Parents will be able to gain insight from current Regents’ Scholars, and see what their child has to look forward to in their potential future at Cal.
        </p>
        <p class = "greycolor">What time?</p>
        <p>
          <em>February 27th: Anna Head Alumnae Hall at 5:00 PM
            <br>
            February 28th: International House, Great Hall at 5:00 PM.
            <br>
            March 1st: International House, Chevron Auditorium at 5:00 PM.
            <br>
            April 5th: Anna Head Alumnae Hall at 1:00 PM.
            <br>April 11th: Sproul Lobby / Steps at 5:00 PM.</em>
          <p></div>
          <div class = "col-md-6">
            <p class = "greycolor">Where to meet?</p>
            <p>
              We will meet at various locations, depending on the night or day that you will be attending.
              <em>
                <br>
                <br>
                February 27th
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Anna Head Alumnae Hall, 2537 Haste St</strong>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; University of California, Berkeley, Berkeley, CA 94720
                <br>
                February 28th: International House, Great Hall
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <strong>International House, 2299 Piedmont Ave</strong>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; University of California, Berkeley, Berkeley, CA 94720
                <br>
                March 1st: International House, Chevron Auditorium
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <strong>International House, 2299 Piedmont Ave</strong>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; University of California, Berkeley, Berkeley, CA 94720
                <br>
                April 5th: Anna Head Alumnae Hall
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <strong>Anna Head Alumnae Hall, 2537 Haste St</strong>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; University of California, Berkeley, Berkeley, CA 94720
                <br>
                April 11th: Sproul Lobby / Steps
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <strong>Sproul Hall, Berkeley, CA 94720</strong>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; University of California, Berkeley, Berkeley, CA 94720
                <br>
                </em>
            </p>
            <br>
            <p>
              Please visit
              <a href= "http://www.berkeley.edu/map">berkeley.edu/map</a>
              for an interactive map of our campus. You may want to print a copy to bring with you on the night or day of your visit.
            </p>
          </div>
        </div>
      </div>

    <div class="container">
      <!-- Row 5 -->
      <div class="row">
        <h3 class="header">Logistics</h3>
        <div class="col-md-4">
          <h4>What should you bring to your ROHP visit?</h4>

          <ul>
            <li>
              A fully charged phone and cell phone charger. You must bring a cell phone to ROHP and provide us with the phone number when you sign up.
            </li>
            <li>Photo Identification</li>
            <li>A sleeping bag and pillow</li>
            <li>Toiletries and a towel</li>
            <li>Slippers for the showers</li>
            <li>
              Some money for your personal use (for breakfast the next day and, you know, to buy that Cal sweatshirt you’ve been coveting for years)
            </li>
            <li>
              If you are having your scholarship interview, business or business­casual attire is recommended
            </li>
          </ul>

        </div>

        <div class="col-md-4">
          <h4>Food around the area</h4>
          <ul>

            <li>
              For $7, you can eat breakfast with your host in the residence hall.
            </li>
            <li>
              <a href="http://www.yelp.com/biz/noahs-bagels-berkeley-3">Noah’s Bagels</a>
              (corner of Telegraph and Durant) has a wide variety of bagels and juice.
            </li>
            <li>
              <a href="http://www.yelp.com/biz/crepes-a-go-go-berkeley-3">Crepes A Go Go</a>
              on Telegraph has a large assortment of crepes for less than $6.
            </li>
            <li>
              <a href="http://www.yelp.com/biz/cafe-durant-berkeley">Cafe Durant</a>
              (on Durant, between Telegraph and Bowditch) has excellent breakfast for less than $10.
            </li>
            <li>
            <a href="http://www.yelp.com/biz/bleecker-bistro-berkeley-2">Bleecker Bistro</a> (corner of Telegraph and Dwight) has a wide variety of breakfast fare for less than $10.
            </li>
            <li>
            <a href="http://www.yelp.com/biz/king-pin-donuts-berkeley">King Pin Donuts</a> (on Durant, between Telegraph and Bowditch) has fresh doughnuts and coffee.
            </li>
            <li>
            <a href="http://www.yelp.com/biz/jamba-juice-berkeley">Jamba Juice</a> (corner of Bancroft, between Telegraph and Bowditch) has smoothies and pretzel treats.
            </li>
            <li>
              And, I-House Cafe,
              <a href="http://www.yelp.com/biz/caffe-strada-berkeley">Cafe Strada</a>
              , and
              <a href="http://www.yelp.com/biz/cafe-milano-berkeley">Cafe Milano</a>
              are all located on Bancroft Street, between Piedmont and Telegraph. They have breakfast pastries and fresh coffee for less than $5.
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>What is the procedure the morning after ROHP?</h4>
          <p>
            After ROHP, you are free to enjoy the rest of your stay in Berkeley. Guests are free to coordinate with friends, hosts, or family members for the rest of the day’s activities. We will provide you with a list of possible activities when you get here and a place to put your luggage for the day. A few of the many possible diversions include opportunities to go sit in on classes, explore campus, check out our world­class libraries, attend an a cappella concert on Sproul plaza or explore the town of Berkeley.
          </p>
          <p>
            Rest assured that there will be plenty of things to do and we’ll make sure you know everything necessary to have a splendid day! You’re very likely to be on your own for breakfast unless you make it to International House for a complimentary continental breakfast the day of your interview (February / March days only). To the left, however, is a list of convenient and delicious breakfast suggestions.
          </p>
          <br>
          <br>
          <br></div>
      </div>
    </div>

      <div class="container-fluid shadedBg">
        <!-- Row 5.5 -->
        <div class="row" id="classVisit">
          <div class="col-md-12">
            <h3 class="header">Class visitations</h3>
            <p align="center">
              While you're visiting UC Berkeley for your scholarship interviews and ROHP, we invite you to visit classes on Thursday, February 27, and Friday, February 28. Check out a list of interesting classes from a variety of disciplines:
              <a href="{% static 'files/Classvisitationslistguidelines.pdf' %}">here</a>
              .
            </p>
          </div>
        </div>
      </div>

    <div class="container">
      <!-- Row 6 -->
      <div class="row">
        <h3 class="header">ROHP Dates and Scheduling</h3>
        <div class="col-md-6">
          <h4>
            Overnight Program (February 27th, 28th, March 1st, April 11th)
          </h4>
          <p>
            <strong>5:00 PM</strong>
            &nbsp;&nbsp;– Guests check in. (Location varies by date)
            <br>
            <strong>5:30 PM</strong>
            &nbsp;&nbsp;– Dinner is served. Faculty speaker and student group performance.
            <br>
            <strong>6:00 PM</strong>
            &nbsp;&nbsp;– Student Panel.
            <br>
            <strong>6:45 PM</strong>
            &nbsp;&nbsp;– Guests take belongings to dorms.
            <br>
            <strong>7:30 PM</strong>
            &nbsp;&nbsp;– ROHP Night Tour
            <br>
            <strong>9:00 PM</strong>
            &nbsp;&nbsp;– Tour ends. Guests go to dorms or optional nighttime activities.
            <br>
            <strong>8:00 AM</strong>
            &nbsp;&nbsp;– Program officially ends. Guests find breakfast independently or with hosts. Throughout the day, guests can continue to socialize with hosts or drop in on designated classes.
          </p>
        </div>
        <div class = "col-md-6">
          <h4>Daytime Program (April 5th)</h4>
          <p>
            <strong>1:00 PM</strong>
            – Program begins. Guests arrive and check in at Anna Head Alumnae Hall. Guests can then mingle with other guests and current scholars.
            <br>
            <strong>1:30 PM</strong>
            – Faculty welcome speech.
            <br>
            <strong>1:40 PM</strong>
            – Student group performances.
            <br>
            <strong>2:00 PM</strong>
            – Housing Presentation
          </p>
          <div class = "col-md-6">
            <h5 align="center">
              <em>Students</em>
            </h5>
            <p>
              <strong>2:20 PM</strong>
              – Student Panel
              <br>
              <strong>2:50 PM</strong>
              – Photo Scavenger Hunt
              <br>
              <strong>4:10 PM</strong>
              – Dorm Tours
              <br></p>
          </div>
          <div class = "col-md-6">
            <h5 align="center">
              <em>Parents</em>
            </h5>
            <p>
              <strong>2:20 PM</strong>
              – Dorm tours
              <br>
              <strong>3:20 PM</strong>
              – Financial Aid Presentation
              <br>
              <strong>3:50 PM</strong>
              – RCSA presentation
              <br>
              <strong>4:10 PM</strong>
              – Student panel
              <br></div>
            <p>
              <strong>4:50 PM</strong>
              – Student Group Performances
              <br>
              <strong>5:10 PM</strong>
              – Photo Scavenger Hunt Video
              <br>
              <strong>5:15 PM</strong>
              – Closing remarks
              <br>
              <strong>5:30 PM</strong>
              – Program ends. Guests and parents are encouraged to find dinner at local Berkeley restaurants.
              <br></div>
          </div>
        </div>

        <br>
        <br>
        <br>

          <div class="container-fluid shadedBg">
            <!-- Row 7 -->
            <div class="row">
              <div class ="col-md-6">
                <h3>How Do I Sign up?</h3>
                <p>Registration is now full.</p>
                <!--<p>
                <a href="https://www.eventbrite.com/e/regents-overnight-host-program-rohp-session-1-registration-10470147493?ref=ebtn" target="_blank">
                  <img src="https://www.eventbrite.com/custombutton?eid=10470147493" alt="Eventbrite - Regents&#39; Overnight Host Program (ROHP)        [Session 1]" />
                </a>
                <a href="https://www.eventbrite.com/e/regents-overnight-host-program-rohp-session-2-registration-10470582795?ref=ebtn" target="_blank">
                  <img src="https://www.eventbrite.com/custombutton?eid=10470582795" alt="Eventbrite - Regents&#39; Overnight Host Program (ROHP)        [Session 2]" />
                </a>
              </p>
              <p>
                <a href="https://www.eventbrite.com/e/regents-overnight-host-program-rohp-session-3-registration-10470659023?ref=ebtn" target="_blank">
                  <img src="https://www.eventbrite.com/custombutton?eid=10470659023" alt="Eventbrite - Regents&#39; Overnight Host Program (ROHP)        [Session 3]" />
                </a>
                <a href="https://www.eventbrite.com/e/regents-overnight-host-program-rohp-session-4-registration-10470673065?ref=ebtn" target="_blank">
                  <img src="https://www.eventbrite.com/custombutton?eid=10470673065" alt="Eventbrite - Regents&#39; Overnight Host Program (ROHP)        [Session 4]" />
                </a>
              </p>
              <p>
                <a href="https://www.eventbrite.com/e/regents-overnight-host-program-rohp-day-program-registration-10470608873?ref=ebtn" target="_blank">
                  <img src="https://www.eventbrite.com/custombutton?eid=10470608873" alt="Eventbrite - Regents&#39; Overnight Host Program (ROHP)        [Day Program]" />
                </a>
              </p>

              <p>
                <small>
                  ROHP has a limited number of spots per night and for the daytime activity. If all of the spots for a particular night are full, consider attending another night or signing up for the waitlist. If you have questions or concerns, please email
                  <a href="mailto: rohpberkeley2014@gmail.com">rohpberkeley2014@gmail.com</a>
                  . Please allow up to two business days for us to get back to you.
                </small>
              </p>
              <p>
                <small>
                  <em>
                    The Regents’ and Chancellor’s Scholars Association is a student group acting independently of the University of California. The student organization is the host of the Regents’ Overnight Host Program and takes full responsibility for the guests.</em>
                </small>
              </p>
              -->
              <p>
                  Both the overnight and daytime programs this year have been extremely popular, and all of the spots have been filled. For those unable to come to ROHP or the daytime program, we encourage you to utilize the resources available to all prospective Regents' scholars, including the Scholar Contact Program and the UC Berkeley Scholar Contact
                  <a href="https://www.facebook.com/groups/228192307353890/">Facebook Page</a>
                  . If you have questions or concerns about ROHP or the daytime program, please email us at
                  <a href="mailto:rohpberkeley2014@gmail.com">rohpberkeley2014@gmail.com</a>
                  . Please allow up to two business days for us to get back to you.
              </p>

            </div>
            <div class = "col-md-6">
              <h3>ROHP Risk Prevention</h3>
              <h4>Medical Emergency</h4>
              <div class="long-table">
                <table class="table table-hover table-bordered">
                  <tr>
                    <td>University of California Emergency (from campus phone)</td>
                    <td>911</td>
                  </tr>
                  <tr>
                    <td>University of California Emergency (from cell phone)</td>
                    <td>510-642-3333</td>
                  </tr>
                  <tr>
                    <td>
                      City of Berkeley Emergency (from land line off campus but within city limits)
                    </td>
                    <td>911</td>
                  </tr>
                  <tr>
                    <td>City of Berkeley Emergency (from cell phone)</td>
                    <td>510-981-5911</td>
                  </tr>
                </table>
              </div>
              <h4>Emotional/Psychological Emergency</h4>
              <div class="long-table">
                <table class="table table-hover table-bordered">
                  <tr>
                    <td>Tang Center (regular business hours)</td>
                    <td>510-642-2000</td>
                  </tr>
                  <tr>
                    <td>Tang Center's After Hours Advice Nurse</td>
                    <td>510-643-7197</td>
                  </tr>
                  <tr>
                    <td>Alameda County 24/7 crisis/suicide prevention hotline</td>
                    <td>800-309-2131</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      {% endblock %}
      <!-- Any additional JavaScript files you want to include -->
      {% block javascripts %}
{% endblock %}
