{% extends "base.html" %}
{% load staticfiles %}

<!-- Meta data -->
{% block title %}Student Services{% endblock %}

<!--    Navigation: select the right button to be active.
        Change tab-home to one of the following {tab-home|tab-about|tab-rohp|tab-ss|tab-tedx|tab-contact}
-->
{% block tab-ss %}active{% endblock %}


<!--Any additional CSS files you want to include -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/student_services.css' %}" />
{% endblock %}


<!-- Main content -->
{% block content %}
<div class="continer-fluid parallax splash-bg">
</div>
<div class="container">
   <div class="row">
      <div class="col-md-6">
         <div class="context-background">
             <h3 class="text">Yearbook</h3>
             <p class="text">Checkout RCSA yearbooks both old and new!</p>
             <img class="images" src="{% static 'img/services/yearbook.jpg' %}">
             <p><a type="button" class="custom-button" href="/student_services/yearbook">Yearbooks</a></p>
           </div>
      </div>
      <div class="col-md-6">
         <div class="context-background">
             <h3 class="text">Newsletters</h3>
             <p class="text">Keep up with RCSA events!</p>
             <img class="images" src="{% static 'img/services/newsletter.jpg' %}">
             <p><a type="button" class="custom-button" href="/student_services/newsletters">Newsletters</a></p>
           </div>
       </div>
       <div class="col-md-6">
         <div class="context-background">
           <h3 class="text">Student Test Bank</h3>
           <p class="text">Ace those tests! Practice makes perfect.</p>
           <img class="images" src="{% static 'img/services/testbank.jpg' %}">
           <p><a type="button" class="custom-button"  href="/student_services/test_bank">Test Bank</a></p>
       </div>
       </div>
       <div class="col-md-6">
         <div class="context-background">
             <h3 class="text">PD Blog</h3>
             <p class="text">Clean up your resume and get a job with some help from PD!</p>
             <img class="images" src="{% static 'img/services/pdblog.jpg' %}">
             <p><a type="button" class="custom-button" href="http://calrcsa.wordpress.com/" target="_blank">Visit the PD Blog!</a></p>
           </div>
       </div>
   </div>
</div>
{% endblock %}


<!-- Any additional JavaScript files you want to include -->
{% block javascripts %}
{% endblock %}
