{% extends "base.html" %}
{% load staticfiles %}

<!-- Meta data -->
{% block title %}Test Bank{% endblock %}

<!--    Navigation: select the right button to be active.
        Change tab-home to one of the following {tab-home|tab-about|tab-rohp|tab-ss|tab-tedx|tab-contact}
-->
{% block tab-ss %}active{% endblock %}


<!--Any additional CSS files you want to include -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/test_bank.css' %}" />
{% endblock %}


<!-- Main content -->
{% block content %}
<!--
    Make sure all your content is within a column. Every column is placed within a row. A row must be within a container.
    See the home page for an example of how this is done.

    We do this because bootstrap has a grid system that takes care of all the nitty-gritty margin and padding details.

    We are working with a 12 column grid, so make sure all your components fit within the 12-column grid. Don't try to
    make a row with 13+ columns. If you need more space, make another row.

    For more information about bootstrap's grid system, see: http://getbootstrap.com/css/#grid
-->
<div class="continer-fluid parallax splash-bg">
</div>
<div class="container">
   <div class="row">
        <div class="col-md-3">
            <h3> RCSA Test Bank </h3>
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-3">
            <p><b> Test bank addition and maintenance has been discontinued as of 2012 </b></p>

            <p class = "startrek"> The RCSA Test Bank--the frontier of finals and midterms. These are the rewards of the voyages of many Regent Scholars. They're continuing mission to enroll in strange, new classes, to seek out new areas of knowledge and experience, to <strong> boldly </strong> go where no Scholar has gone before.</p>
            <br>
            <p> These are the tests that past and current Regent Scholars have contributed to our test bank. Pay homage to them as you browse through the history of midterms and finals gone-by. With courage, determination, strength of will, boba, and many practice tests, they were able to overcome these examinations, and like your collegiate ancestors, you will too! All it takes is finding and correctly placing the cloud's silver lining. </p>

            

        </div>
        <div class = "col-md-9">
            <iframe src="https://app.box.com/embed_widget/qak8ubd72rv6/s/pe4p36lq2m?view=list&sort=name&direction=ASC&theme=gray" width="800" height="550" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock %}

<!-- Any additional JavaScript files you want to include -->
{% block javascripts %}
{% endblock %}
