{% extends "base.html" %}
{% load staticfiles %}

<!-- Meta data -->
{% block title %}Yearbook{% endblock %}

<!--    Navigation: select the right button to be active.
        Change tab-home to one of the following {tab-home|tab-about|tab-rohp|tab-ss|tab-tedx|tab-contact}
-->


<!--Any additional CSS files you want to include -->
{% block css %}
{% endblock %}


<!-- Main content -->
{% block content %}
<!--
    Make sure all your content is within a column. Every column is placed within a row. A row must be within a container.
    See the home page for an example of how this is done.

    We do this because bootstrap has a grid system that takes care of all the nitty-gritty margin and padding details.

    We are working with a 12 column grid, so make sure all your components fit within the 12-column grid. Don't try to
    make a row with 13+ columns. If you need more space, make another row.

    For more information about bootstrap's grid system, see: http://getbootstrap.com/css/#grid
-->
<div class="continer-fluid parallax splash-bg">
</div>

<div class="container">
    <div class="row">
        <br>
        <div class="col-md-8 col-md-offset-2">
            <center>
                <h1>Yearbooks</h1>
                Select a yearbook to view from the list below (listed from least to most recent). 
                <br> (NOTE: It's a piece of high quality work - loading can take up to a minute. Thank you for being patient!)
            </center><br><br>
        </div>
        <center>
        <div data-configid="0/7789666" style="width: 960px; height: 771px;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>

        <div data-configid="0/15178843" style="width: 960px; height:771px;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
        </center>
        </div>
    
    </div>
</div>
{% endblock %}

<!-- Any additional JavaScript files you want to include -->
{% block javascripts %}
{% endblock %}
